[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
django-heroku = "*"
django-cors-headers = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
