{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-auth">
  <div class="auth-content">
    <h1>log in</h1>
    <div class="booking-container">
      <form class="form-columns-1" action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% endfor %}
        <input class="base-btn" type="submit" value="Submit" />
      </form>
    </div>
  </div>
</section>

{% endblock %}