#welcome {
  background-image: url('../images/lobby.jpg');
  background-position: center;
  background-size: cover;
}

.form-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
