{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-booking">
  <div class="booking-2-3">
    <div class="booking-container">
      <h2>Search for Availability</h2>
      <form class="form-columns-2" action="{% url 'book' %}" method="get">
        {% for field in form %}
        <div class="form-floating">
          {{ field }}
          {{ field.label_tag }}
        </div>
        {% endfor %}
        <input class="base-btn" type="submit" value="Search">
      </form>
    </div>

    {% if results %}
    <h1>available rooms</h1>

    {% for room_type, bed_types in results.items %}
    <div class="room-card">
      <div class="room-card-text">
        <h3 class="text-capitalize">{{ room_type }}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
        {% for bed_type, rooms in bed_types.items %}
        <button class="base-btn">
          <a href="/book/{{ rooms.0 }}">{{ bed_type }}</a>
        </button>
        {% endfor %}
      </div>
      <div class="room-card-img">
        <div id="carousel-rooms-{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel"
          data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100"
                src="https://res.cloudinary.com/alanavery/image/upload/v1611631295/base/room-{{ forloop.counter }}-1.jpg"
                alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100"
                src="https://res.cloudinary.com/alanavery/image/upload/v1611631295/base/room-{{ forloop.counter }}-2.jpg"
                alt="">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100"
                src="https://res.cloudinary.com/alanavery/image/upload/v1611631295/base/room-{{ forloop.counter }}-3.jpg"
                alt="">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-rooms-{{ forloop.counter }}" role="button"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-rooms-{{ forloop.counter }}" role="button"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="booking-1-3">
    <div class="booking-container">
      <h2>Your Booking</h2>
      <h4>Check-In Date: {{ request.GET.check_in_date }}</h4>
      <h4>Check-Out Date: {{ request.GET.check_out_date }}</h4>
      <h4>Number of Guests: {{ request.GET.total_guests }}</h4>
    </div>
  </div>
</section>

{% endblock %}